body {
  width: 500px;
  margin: auto;
}

h1 {
  font-size: 25px;
}

.border {
  border: 1px solid black;
  font-size: 35px;
  letter-spacing: 5px;
}

.fontSize {
  font-size: 20px;
}